Repository dry-frontend/dry-design-system, pull requests merged in 2023-04, with the labels that each got.

#2 Theme을 설정한다
  packages/payment/.storybook/preview.tsx
  packages/payment/package.json
  packages/payment/src/main.tsx
  packages/payment/src/styles/theme.ts
  packages/payment/src/types/styled-components.d.ts
Labels: payments💳

#5 feat: 장바구니 공통 컴포넌트를 개발한다
  packages/cart/package.json
  packages/cart/src/assets/cart.svg
  packages/cart/src/components/Button/Button.stories.tsx
  packages/cart/src/components/Button/Button.tsx
  packages/cart/src/components/Button/styles.ts
  packages/cart/src/components/Button/types.d.ts
  packages/cart/src/components/LoadingSpinner/LoadingSpinner.tsx
  packages/cart/src/components/LoadingSpinner/styles.ts
  pnpm-lock.yaml
Labels: cart 🛒

#6 Release w16 To Main
  packages/cart/package.json
  packages/cart/src/assets/cart.svg
  packages/cart/src/components/Button/Button.stories.tsx
  packages/cart/src/components/Button/Button.tsx
  packages/cart/src/components/Button/styles.ts
  packages/cart/src/components/Button/types.d.ts
  packages/cart/src/components/LoadingSpinner/LoadingSpinner.tsx
  packages/cart/src/components/LoadingSpinner/styles.ts
  packages/payment/.storybook/preview.tsx
  packages/payment/package.json
  packages/payment/src/main.tsx
  packages/payment/src/styles/theme.ts
  packages/payment/src/types/styled-components.d.ts
  pnpm-lock.yaml
Labels: To Main
